* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

/* impostazioni generali */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

header {
  width:100%;
  padding: 0 5%;
}
.menu {
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  height: 50px;
}

.menu img.logo {
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 10px;
}

.navigazione-uno a {
  text-transform: uppercase;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
  margin-right: 20px;
}

ul li a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
  color: grey;
  transition: color .2s ease-in-out;
}

ul li a:hover {
  color: black;
}

li a.applicazione {
  padding: 8px 18px;
  border:1px solid red;
  border-radius: 30px;
  background-color: #ff499e;
  color: #fff;
  transition: all .2s ease;
}

li a.applicazione:hover {
  border:1px solid #ff499e;
  background-color: white;
  color: #ff499e;
}
